@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.shadows-into light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
.Acceuil{
    font-family: 'Shadows Into Light', cursive;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    /* background: linear-gradient(rgb(219, 163, 42), rgb(0, 255, 98));
    background-color: rgba(0, 0, 0, 0.2);  */
    background-size: cover;
    
    /* background-position: 49% 50px; */

} 
.center{
    text-align: center;
}
h1{
    margin-bottom: 10px;
    color: #f8f2f2;
    font-size: 24px;
}  
h2{
    margin-bottom: 20px;
    color: #666;
    font-size: 18px;
}  
h3 {
   
    font-size: 16px;
    margin-top: 30px;
  }
li{
  cursor: pointer;
  font-weight: 10;
  color:rgb(20, 17, 17)
}
li:hover{
    text-transform: uppercase;
    color: darkkhaki;
}

a{
    color: #5288c2;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

.Acceuil{
 
   display:inline-block ;
    width: 600px;
    border: 1px solid;
    background-color: #fccc66;
    margin: 45px;
    padding: 30px;

   
}

.btn-login{
  padding: 10px 10px;
  margin: 30px;
  background-color: blue;
  border-radius: 7px;
}