.App {
    text-align: center;
   
    /* filter:blur(5px);
    background-repeat: none;
    background-size: 1700px;
    background-position: center;
    color: black;
    height: 1000px; */
}
.BlurBackground{
  position:relative;
}
.BlurBackground::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(componenets/background/1.jpg);
  background-repeat: none;
  background-size: 1700px;
  background-position: center;
  height: 640px;
  filter: blur(5px); /* Ajustez la valeur (5px) selon le niveau de flou désiré */
  z-index: -1;

}

.Link{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;

  margin: auto;
  padding: 20px;
  background: linear-gradient(rgb(135, 240, 16), rgb(226, 165, 52) );
}
.content{
  background-image: url(componenets/background/1.jpg);
}