.App {
    text-align: center;
}

.Link{
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: auto;
  padding: 20px;
  background: linear-gradient(rgb(135, 240, 16), rgb(226, 165, 52) );
}